.home {
  padding: 56px 20px;
  width: 100%;
}

.about {
  display: flex;
}

.imageContainer {
	flex: 1;
	display: flex;
	justify-content: center;
}

.image {
	height: 30vw;
	max-height: 500px;
}

.quote {
  flex: 1;
	display: flex;
	flex-direction: column;
}

.details{
	font-size: 22px;
	color: #333;
	padding-bottom: 32px;
}

.author{
	font-size: 16px;
  color: black;
}

.social {
	font-size: 18px;
	text-align: center;
	margin-top: 64px;
}

.icon {
	height: 24px;
	vertical-align: middle;
	padding-left: 16px;
}

@media all and (max-width: 728px) {
	.home {
		padding: 16px;
	}

  .about, .bio {
		flex-direction: column;
	}

	.details {
		margin-top: 32px;
		padding: 16px 0 0 0;
		font-size: 1.2rem;
	}

	.image {
		height: 80vw;
		max-height: 400px;
	}
}

