html, body {
  padding: 0;
  margin: 0 5%;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Fira Sans", Avenir, "Helvetica Neue", "Lucida Grande", sans-serif;
  color: #333;
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: #333;
}