.blogLink {
  text-transform: capitalize;
  font-size: 3rem;
  display: flex;
  width: 800px;
  margin: 64px auto;
}

.blogPreview{
  font-size: 1.5rem;
  font-weight: 100;
  margin-top: 8px;
  color: #666;
}

.blogDetails {
  flex: 1;
}

.blogThumbnail {
  height: 200px;
  width: 200px;
  background-size: cover;
  border-radius: 3px;
}