.header {
  margin-bottom: 2.6rem;
  font-size: 1.8rem;
}

.headerContent {
  margin: 0 auto;
  padding: 4rem 2rem;
  text-transform: uppercase;
  text-align: right;
}

.navLink {
  margin: 16px;
  padding-bottom: 8px;
  line-height: 2.5rem;
}

.navLink:hover {
  border-bottom: 2px solid #333;
}
