.name {
  margin: 0px;
  max-width: none;
  height: 15%;
  max-height: 96px;
}

.phoenatics {
  letter-spacing: 5px;
  font-weight: 300;
  font-size: 16px;
}

.details {
  padding-left: 64px;
}

.profileTile {
  display: flex;
  font-size: 1.8rem;
}

.subtitle {
  font-weight: 300;
}

.social {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.profilePic {
  height: 550px;
}
