.name {
  margin: 0px;
  max-width: none;
  height: 15%;
  max-height: 96px;
}

.phoenatics {
  letter-spacing: 5px;
}

.details {
  padding-left: 64px;
}

.profileTile {
  display: flex;
}

.subtitle {
  font-weight: 300;
}
