html {
  font-family: Helvetica Neue,arial,sans-serif;
}

h1 {
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 8px;
  line-height: 1;
}

.css-yilgkd-WidgetPreviewContainer{
  color: #aaa;
  display: block;
  text-align: left;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}